body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: #484848;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.intro {
    background-color: transparent;
    border: 5px solid #909090;
    border-radius: 20px;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    color: white;
    width: 80%;
}