html {
    scroll-behavior: smooth;
}

:root {
    --bs-body-bg: #333333;
    --bs-body-color: #ffffff;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  text-align: var(--bs-body-text-align);
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg)
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

a {
  color: #0d6efd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.intro {
    background-color: transparent;
    border: 5px solid #909090;
    border-radius: 20px;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    color: white;
    width: 80%;
}

.card {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: 121212;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    color: white;
}